@charset "UTF-8";
@import "./reset.css";

/*
 css 레이아웃 기법
 
 block vs inline : 줄바꿈이 발생(block), 한줄에 연속적으로 배치(inline)
 
 float : left ,right 방향으로 경계까지 
 ㄴ clear : float 적용후 더 이상 적용하지 않을 경후 float 해제
 
 position : 원래 흐림(static)에서 벗어나 배치를 결정
 			absoulte,relative,fixed, sticky 비표준:(static + absolute )
 			
 


*/
html{
	font-size: 16px;
}
body{
	font-family: "Roboto Condesed","Note Sans KR",sans-serif;
	color: #fff;
	font-size: 14px;
	background-color:#4f0600;
}
.d-none{
	display:none;
	
}

.top-bar-outer{
	background-color:#fff;
}
.top-bar{
	max-width:800px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}	

.top-logo{
	
}
.top-menu a{
	font-size:14px; /*     14px / 16px  = >  0.875rem */
	color:#666666;
	text-decoration: none; /* 꾸밈없어짐 */
	
}

.top-menu a:nth-last-child(){
	margin: 0 1ren;
}

.top-marketing{
	max-width:800px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}

.top-marketing p{
	color:#000;
}

.top-marketing-outer{
	background-color:#fff;
	height:500px;
}

.model{
	margin:135px auto;
}

.text {
	width:300px;
	height:300px;
	position:relative;
	margin:100px auto;
}
.text p{
	font-size: 60px;
	color:black;
}

.top-marketing p:nth-child(1){
	font-size: 60px;
	color:#000000;
	position: absolute;
	left: 0;
	top: 70px;
}

.text p:nth-child(2){
	font-size: 60px;
	color:#cf160c;
	position: absolute;
	left: 0;
	top: 130px;
}

.text p:nth-child(3){
	font-size: 90px;
	color:#000000;
	position: absolute;
	left: 120px;
	top: 130px;
}
.menu-outer{
	background-color:#830e04;
	padding:1rem 0;
}
.menu {
	width:800px;
	
	margin: 0 auto;
	background-color:#830e04;
	text-align:right;
}

.menu a{
	font-size:14px; /*     14px / 16px  = >  0.875rem */
	color:#ffffff;
	text-decoration: none; /* 꾸밈없어짐 */
    
	
}

.menu a:nth-child(2){
	marigh: 0 1rem;
}
